.introview {
  background-image: url(../src/art.jpg);
  /* Full height */
  height: auto;
  width: auto;
  margin-top: -30px;
  margin-left: -90px;
  /* Center and scale the image nicely */
  background-position: absolute;

  background-size: cover;
}

.Title {
  text-align: center;
  font-size: 400%;
  color: white;
  font-family: comic;
  margin-top: 100px;
  margin-left: -420px;
}

.bg {
  color: grey;
}

.btn-warning {
  background-color: #f1ed62;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  font-family: Anton;
  color: #111;
}

.nav-link {
  font-family: Anton;
}

.card-header {
  font-family: Anton;
  letter-spacing: 1.5px;
}

.btn {
  font-family: Anton;
}

.list-group-item {
  font-family: Anton;
}

.card-title {
  font-family: Anton;
}

.navbar .navbar-expand-lg .navbar-dark .bg-primary .fixed-top {
  background-color: grey;
}

.loading {
  margin-top: 300px;
  margin-left: 500px;
  position: float;
}

.form-group {
  font-family: Anton;
}
.form {
  background: rgb(190, 183, 183);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.label {
  text-align: center;
}
